{{template "header" .}}
<article>
  <h2>Credentials</h2>
  <ul class="list-group mb-3">
    {{range .credentials}}
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      {{ .Username }}
      <a href="/credentials/{{ .ID }}/locks" class="btn btn-outline-primary" type="sumbimt">Get Locks</a>
    </li>
    {{end}}
  </ul>
  <form method="post" action="/credentials">
    <div class="input-group">
      <input type="text" name="username" class="form-control" placeholder="Username">
      <input type="password" name="password" class="form-control" placeholder="Password">
      <button class="btn btn-primary" type="sumbimt">Add</button>
    </div>
  </form>
</article>

{{if index . "modal"}}
<div class="modal d-block" class tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Locks</h5>
        <a href="/credentials" type="button" class="btn-close" aria-label="Close"></a>
      </div>
      <form action="/locks" method="post">
        <input type="hidden" name="credentials" value="{{.credID}}">
        <div class="modal-body">
          <p>Select locks to add to the TTLock2Mqtt</p>
          <ul class="list-group" method="POST" action="/locks">
            {{range .locks}}
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="{{.LockId}}" name="locks" id="lock_{{.LockId}}">
              <label class="form-check-label" for="lock_{{.LockId}}">{{.LockAlias}} - {{.LockName}}</label>
            </li>
            {{end}}
          </ul>
        </div>
        <div class="modal-footer">
          <a href="/credentials" type="button" class="btn btn-secondary">Close</a>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{end}}

{{template "footer" .}}